<mat-card fxLayout="column" fxFlexAlign="center" fxFlex  >
  
  <img fxFlex fxFlexAlign="center" mat-card-image src="assets/image/logo-HTMessenger.svg">
  
  <mat-form-field >
      <input matInput placeholder="Usuário" (keyup.enter)="logar()" [(ngModel)]="usuario.login" [required]="usuario.login" >
  </mat-form-field>

  <mat-form-field >
    <input matInput type="password" placeholder="Senha" (keyup.enter)="logar()" [(ngModel)]="usuario.senha" [required]="usuario.senha">
  </mat-form-field>
    
  <button mat-raised-button color="primary"  (click)="logar()" [disabled]=" usuario.login == null || usuario.senha == null" > Entrar </button>

</mat-card>